<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title> {{ title }} </title>
  <link rel="icon" href="/img/logo.svg">
</head>

<body>
<header> 
<div class="website_title">
<img class="title_img" src="/img/logo.svg" alt="HeaderLogo">
</div>

{% include "layouts/nav.njk" %} 
</header>
  <main>
    {{ content | safe }}
  </main>
</body>
<footer>
Copyright {% year %}, Erik William Stacey, All Rights Reserved.
</footer>
</html>