---
layout: layouts/base.njk
---

<article class="page-layout">
  <div class="container">
        <div>
          <h2>{{ title }}</h2>
          {{ content | safe }}
        </div>
  </div>
</article>